build
build/*

wheelhouse
wheelhouse/*

venv
venv/*

data
data/*

.vscode
.vscode/*

dist
dist/*

experimental_utils.egg-info
experimental_utils.egg-info/*

__pycache__
__pycache__/*
*.pyc

.DS_Store
.DS_Store/*